<div class="card" style="width: 60%;margin: auto;">
    <img src="./assets/{{Blogs.imgName}}" class="card-img-top" alt="...">
    <div style="color: white;background-color: rgb(67, 63, 63);" class="card-body">
      <p class="card-text"><strong>Author: </strong>{{ Blogs.author }}</p>
      <p class="card-text"><strong>Title: </strong> {{ Blogs.title }}</p>
      <p class="card-text"><strong>Content: </strong> {{ Blogs.content }}</p>
      <p class="card-text"><strong>Description: </strong> {{ Blogs.description }}</p>
      <p class="card-text"><strong>PublishedAt: </strong> {{ Blogs.dob }}</p>
      <a routerLink="/dashboard" class="btn btn-primary" >Go Back</a>
    </div>
  </div>